# Python cache/compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
ENV/
.venv/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# PyCharm project files
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Cache
.cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
