<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-styled label {
            font-weight: 600;
            color: #333;
            display: block;
            margin-bottom: 5px;
        }
        .form-styled input {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .form-styled textarea {
              height:80px;
        }

    </style>
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Register for your Connection!</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-styled">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                        <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>